/* Type */
@font-face {
    font-family: "Juana";
    font-weight: bold;
    src: url("../fonts/juana-bold-webfont.woff2") format("woff2");
}
* {
    font-family: colfax-web, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    color: rgba(0,0,0,1);
    vertical-align: baseline;
    background: transparent;
}
a {
    font-family: colfax-web, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    color: rgba(0,0,0,1);
    vertical-align: baseline;
    background: transparent;
}
h1 {
    font-family: Juana, serif;
    font-size: 42px;
    font-weight: bold;
    line-height: 58px;
    color: rgba( 0, 0, 0, 0.85);
}
h1.secondary {
    color: rgba(112, 112, 112, 0.85);
}
h2 {
    font-family: Juana, serif;
    font-size: 28px;
    font-weight: bold;
    line-height: 38px;
    color: rgba( 0, 0, 0, 0.85);
}
h3 {
    font-family: Juana, serif;
    font-size: 22px;
    font-weight: bold;
    line-height: 30px;
    color: rgba( 0, 0, 0, 0.85);
    border-bottom: rgba(0,0,0,.1) solid 1px;
}
h4 {
    font-size: 26px;
    font-weight: 400;
    line-height: 34px;
    color: rgba( 0, 0, 0, 0.85);
}
p {
    font-size: 18px;
    line-height: 21px;
}
p.small {
    font-size: 14px;
    line-height: 17px;
    color: rgba(112, 112, 112, 0.85);
}

/* View */
body {
    width: 100%;
    height: 100%;
}
    /* Navigation */
    .navigation {
        position: fixed;
        width: 20%;
        height: 100vh;
    }
        .navigation .options {
            margin-top: 160px;
        }
            .navigation .options .option {
                display: block;
                text-align: right;
                margin: 4px 40px 8px 4px;
                cursor: pointer;
            }
            .navigation .options .option a {
                display: inline-block;
                font-size: 14px;
                color: rgba(83,83,83,1);
                text-decoration: none;
                line-height: 32px;
                height: 32px;
                padding: 0 16px;
                border-radius: 16px;
            }
            .navigation .options .option a:hover {
                background-color: rgb(240,240,240);
            }
            .navigation .options .option a.active {
                color: rgba(0,0,0,1);
                font-weight: 500;
                background-color: rgb(240,240,240);
            }

        /* Index */
        .page-index {
            margin-left: 20%;
            width: 80%;
            max-width: 886px;
            padding: 42px;
            box-sizing: border-box;
        }
            /* Hero */
            .page-index .hero {
                margin: 42px 0 64px 0;
            }
            .page-index .hero h4 {
                margin-bottom: 4px;
            }
            .page-index .hero p {
                color: rgba(112, 112, 112, 0.85);
                margin-top: 32px;
            }

            /* Work */
            .page-index .work .project {
                display: flex;
                position: relative;
                height: 212px;
                border-bottom: rgba(0,0,0,.1) solid 1px;
                cursor: pointer;
            }
            .page-index .work .project .meta-data {
                height: 100%;
                max-width: 420px;
            }
            .page-index .work .project .meta-data h2 {
                padding-top: 48px;
            }
            .page-index .work .project .meta-data p {
                padding-top: 16px;
            }
            .page-index .work .project .thumbnail-container {
                opacity: 0;
                position: absolute;
                right: 0;
                float: right;
                height: calc(100% - 16px);
                margin: 8px 0;
                border-radius: 6px;
                overflow: hidden;
                transition: opacity 0.4s;
                transition-timing-function: ease-in;
            }
            .page-index .work .project:hover .thumbnail-container {
                opacity: 1;
                transition: opacity 0.2s;
                transition-timing-function: ease-in-out;
            }
            .page-index .work .project .thumbnail-container img {
                height: 100%;
                aspect-ratio: 8/5;
                object-fit: cover;
            }

/* Mobile */
@media screen and (max-width: 480px) {
    /* Type */
    h1 {
        font-size: 28px;
        line-height: 38px;
    }
    h3 {
        font-size: 22px;
        line-height: 30px;
    }
    h4 {
        font-size: 24px;
        line-height: 32px;
    }

    /* Navigation */
    .navigation {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: unset;
        background-color: #F9F9F9;
        border-top: rgba(0,0,0,.1) solid 1px;
        z-index: 1;
    }
        .navigation .options {
            display: flex;
            margin: 0 16px;
        }
            .navigation .options .option {
                display: block;
                flex-grow: 1;
                text-align: center;
                margin: 8px 0 12px 0;
                cursor: pointer;
            }
            .navigation .options .option a {
                display: inline-block;
                font-size: 14px;
                color: rgba(83,83,83,1);
                text-decoration: none;
                line-height: 40px;
                height: 40px;
                padding: 0 20px;
                border-radius: 20px;
            }
            .navigation .options .option a:hover {
                background-color: rgb(240,240,240);
            }
            .navigation .options .option a.active {
                color: rgba(0,0,0,1);
                font-weight: 500;
                background-color: rgb(240,240,240);
            }

    /* Index */
    .page-index {
        width: 100%;
        margin: 0 0 64px 0;
        padding: 40px 16px;
    }
        /* Hero */
        .page-index .hero {
            margin: 0 0 64px 0;
        }
        /* Work */
        .page-index .work .project {
            display: block;
            position: relative;
        }
        .page-index .work .project .thumbnail-container {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            background-color: #ffffff;
        }
        .page-index .work .project .thumbnail-container img {
            height: unset;
            width: 100%;
            aspect-ratio: 8/5;
        }
}